/*Just some simple css code to see if I can have the gwdg background image */
body {
    background-color: #cacaca !important;
    font-size: 125% !important;
    background-image: url(bg.png), linear-gradient(30deg, #cacaca, #b0b0b0 75%, #efefef);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: padding-box;
    padding: 5px 5px 5px 5px;
}

#left {
  left:-8.33%;
  text-align: left;
  float: left;
  width:50%;
  z-index:-10;
}

#right {
  left:31.25%;
  top: 75px;
  float: right;
  text-align: right;
  z-index:-10;
  width:50%;
}
